@import 
url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');

body
{
  font-family: raleway;
  margin: 0;
}
#bloc_page {
 
   margin: 0 auto;
   max-width: 85rem;
}
.logo
{
  width: 7%; 
}
.header a
{
 width: 43%;
 text-align: center;
 text-decoration: none;
}
.header-bar
{
 display: flex;
 justify-content: space-between;
 height: 4.125rem;
}
.header-nav
{
 width: 30%;
 display:flex;
 justify-content: space-evenly; 
 align-items: baseline;
}


div {
  display: flex ;
  justify-content: space-between;
  align-items: flex-start;
}

p {color: black;
    font-family : Raleway, sans-serif, inherit;}


a:link {
  color: black;
}

a:visited {
  color: cyan;
}

a:hover {
  color: blue;
}

a:active {
  color: blue;
}

element {
    color: blue; /* change la couleur */
    opacity: 0.1; /* change l'opacité. Ici 10% */
    background-color: yellow; /* change la couleur de fond */
    font-family: Arial;/* change la police utilisée */
    text-align: center; /* change l'allignement */
    font-size: 14px; /* change la taille de la police */
    border: 1px solid black; /* ajoute une bordure */
    margin: 5px; /* ajoute une marge autour de l'élément */
    padding: 10px; /* ajoute de l'espace à l'intérieur de l'élément */
    height: 50px; /* hauteur de l'élément */
    width: 50px; /* largeur de l'élément */
}


section:

  img {
  width: 30px;
  width: 30px;
  display: flex;
  justify-content: flex-end;
  align-items:flex-start;
  }

  img {
    justify-content: space-between;
    flex-direction: column;
    padding: 25px ;
  border-radius: 50px;
  background-color: ghostwhite;
  }
    body { background-color: white }

.nav
 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  ;
}

.apropos
{
  display: flex;
  flex-direction: column;
}
footer {
  display: flex;
align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  background-color: lightgray
} 